@import '~antd/dist/antd.css';
.input{
    font-family: 'Fantasy';
    font-size: 15px;

    /* overflow: scroll; */
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 100%;
}
.organizam-page{
    height: 75%;
    margin-top: 2%;
    margin-left: 5%;
}
.submit-button{
    margin-top: 3%;
    float: right;
}
.center-page{
    position:relative;
    border-radius: 0.5%;
    width: 95%;
    height: 100%;
    display: inline-block;
    margin-bottom: 15%;
    padding: 2%;
    background-color:#fbfbfb;
}
.title{
    text-align: center;
    font-family: 'Fantasy';
  font-weight: 100;
  text-transform: uppercase;
  font-size: 25px;


}
.upload-file{
    padding: 2%;
    margin-left: 1%;
    border-radius: 3%;
    font-size: 15px;
}
.element{
    display: inline-block;
    margin-right: 3%;
}

.upload-file:hover , .input-text:hover , .select-from-list:hover {
   background-color: lightblue;
}

.input-text{
    height: 15%;
    padding: 2%;
    margin-left: 1%;
    display: flex;
    margin-top:5%;
    border-radius: 5%;
    font-size: 15px;
}

.input-field{
    width: 50%;
    height: 100%;
}

.select-from-list{
    height: 15%;
    font-size: 15px;
    border-radius: 5%;
    padding: 2%;
    margin-left: 1%;
    margin-top:5%;
}

.select-field{
    width: 50%;
}

.cards {
    padding: 30px;
    background-color:#fbfbfb;
  }

.card{
      height: 100%;
  }

  
.ant-checkbox-wrapper + .ant-checkbox-wrapper{
    margin-left: 0%;
}

.card:hover{
    background-color: rgb(214, 240, 248);
    border: 2px solid rgb(99, 117, 122);

}

.checkbox-override{
    margin-top:3%;
}

.override-spices:hover, .override-features:hover, .features-checkbox:hover{
    font-weight: bold;
}

.next-button{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 15%;
    /* padding: 15px 32px; */
    position:absolute;                 
    bottom:2%;                         
    right:0.5%;  
    /* float: right; */
}

.back-button{   
    margin-top: 3%;
    float: left;
}
.buttons{
    width: 100%;
    display: inline-block;
    /* padding: 2%; */
}

.col-features-checkbox{
    margin-top: 1%;
}

.chip-feature{
    display: inline;
    margin-left: 0.5%;
}

.checkbox-popover{
    display:inline-flex;
}
.cardDropDown{
    width: 100%;
    margin-top: 3%;
    margin-right: 3%;    
}

.buttonDropDownAfterApprove{ 
    background-color: rgb(187, 250, 201); 
}

.divOfDynamicDropDown{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.ant-modal-header{
    background: rgb(164, 164, 169);
}

.ant-modal-footer, .ant-modal-body{
    text-align: center;
}
.buttonInModalCancel:hover{
    color: rgb(243, 74, 74);
    border-color:  rgb(243, 74, 74);
}
.buttonInModalOK:hover{
    color: rgb(38, 156, 8);
    border-color:  rgb(38, 156, 8);
}

.buttonInModalCancel, .buttonInModalOK, .buttonInModalInsert{
    margin-right: 3%;
    width: 10%;
    border-color: rgb(238, 226, 204);;
    box-shadow: 0 0 3px #c2c0c0;
}
.buttonInModalApprove{
    margin-right: 3%;
    border-color: rgb(238, 226, 204);
    box-shadow: 0 0 3px #c2c0c0;
}

.buttonInModalApprove:active{
background-color:rgb(187, 250, 201);

}
.ant-modal{
    border-radius: 10%;
}

.inputNumber{
    border-radius:2%;
    box-shadow:0 0 3px #c2c0c0; ;
    margin-right: 2%;
}

.inputNumber:hover{
    border-color: #c2c0c0;
}

.input-gene-filter{
    width: 60%;
    margin-right: 2%;
}

.info-gene-filter{
    font-weight: bold;
     display: inline-block;
}

.modal{
    margin-top: 3%;
}

.filter-div{
    width: 30%;
    margin-right: 1%;
    margin-left:2%;
    float: left;
}
